
<!doctype html>
  <title>Manager</title>
  <h1>Manage File ----> {{value}}</h1>

  <body class="body">

     <div class="container" align="left">
      <a href="/return-files/{{value}}" target="blank"><button class='btn btn-default'>Download</button></a>
         <a href="/delete-files/{{value}}" target="blank"><button class='btn btn-default'>Delete</button></a>
         <a href="/look/{{value}}" target="blank"><button class='btn btn-default'>Show</button></a>
         <a href="/files" target="blank"><button>Menu</button></a>

     </div>
  </body>